// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

$violet: #572761
$blue: #50c3eb
$green: #a7d53d
$yellow: #f1c04c
$orange: #ff7400

$radius: 10px

+font("ProximaNova-Regular", ProximaNova-Regular)
=proxima
	font-family: "ProximaNova-Regular"
	font-weight: normal

+font("ProximaNova-Bold", ProximaNova-Bold)
=proximabold
	font-family: "ProximaNova-Bold"
	font-weight: normal

+font("ProximaNova-Semibold", ProximaNova-Semibold)
=proxima-sb
	font-family: "ProximaNova-Semibold"
	font-weight: normal

+font("Roboto-Regular", Roboto-Regular)
=roboto
	font-family: "Roboto-Regular"
	font-weight: normal

+font("Roboto-Light", Roboto-Light)
=roboto-l
	font-family: "Roboto-Light"
	font-weight: normal

+font("Roboto-Medium", Roboto-Medium)
=roboto-m
	font-family: "Roboto-Medium"
	font-weight: normal

html
	font-size: 62.5%
	background: #ccc

body
	font-family: "Roboto-Regular", Arial, sans-serif
	font-size: 14px
	line-height: 1

.out
	width: 640px
	height: 1136px
	margin: auto
	// background: #fff url(../img/bg.png) 50% 0 no-repeat
	// background-attachment: fixed
	position: relative
	overflow-x: hidden
	// overflow-y: scroll
	&:after
		content: ""
		position: fixed
		z-index: -100
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: #ccc url(../img/bg.png) 50% 0 no-repeat
// common blocks














































































































