extends include/_layout

block title
	title Bottom Nav Expanded

block header
	include include/_header-logo-awards

block content
	//content

block footer
	include include/_bottomnav-simple

block other
	//begin bottomnav-list
	.bottomnav-list
		ul
			li
				a(href="#") Favorite Movie
			li
				a(href="#") Favorite Movie Actor
			li
				a(href="#") Favorite Movie Actress
			li
				a(href="#") Favorite Movie Duo
			li
				a(href="#") Favorite Action Movie
			li
				a(href="#") Favorite Action Movie Star
			li
				a(href="#") Favorite Comedic Movie
			li
				a(href="#") Favorite Comedic Movie Actor
			li
				a(href="#") Favorite Comedic Movie Actress
			li
				a(href="#") Favorite Dramatic Movie
			li
				a(href="#") Favorite Dramatic Movie Actor
			li
				a(href="#") Favorite Dramatic Movie Actress
			li
				a(href="#") Favorite Family Movie
			li
				a(href="#") Favorite Horror Movie
			li
				a(href="#") Favorite Thriller Movie
	//end bottomnav-list
