extends include/_layout

block title
	title Home2

block sidenav
	include include/_sidenav2

block content
	//begin promo
	.promo
		a(href="#").title.title_promo.title_promo-small see the<br>winners
			i.arrow
	//end promo
	//begin wrap
	.wrap.wrap_no-padding-top
		h1.title.title_news
			span news
		//begin slider
		.slider-wrap
			.slider
				.slider__slide
					a(href="#").box.box_half-left
						img(src="http://placehold.it/295x295")
						.box__footer.yellow
							i.ico.ico_music
							| MUSIC
					a(href="#").box.box_half-right
						img(src="http://placehold.it/295x295")
						.box__footer.green
							i.ico.ico_tv
							| TV
				.slider__slide
					a(href="#").box.box_half-left
						img(src="http://placehold.it/295x295")
						.box__footer.yellow
							i.ico.ico_music
							| MUSIC
					a(href="#").box.box_half-right
						img(src="http://placehold.it/295x295")
						.box__footer.green
							i.ico.ico_tv
							| TV
				.slider__slide
					a(href="#").box.box_half-left
						img(src="http://placehold.it/295x295")
						.box__footer.yellow
							i.ico.ico_music
							| MUSIC
					a(href="#").box.box_half-right
						img(src="http://placehold.it/295x295")
						.box__footer.green
							i.ico.ico_tv
							| TV
		//end slider
		//begin category
		.category
			ul
				li
					a(href="#").category__item pools
				li
					a(href="#").category__item photos
				li
					a(href="#").category__item videos
		//end category
	//end wrap