extends include/_layout.jade

block title
	title Home

block content
	//begin wrap
	.wrap
		//begin slider
		.slider
			.slider__slide
				a(href="#").box.box_half-left
					img(src="http://placehold.it/295x295")
					.box__footer.blue
						i.ico.ico_movies
						| Movies
				a(href="#").box.box_half-right
					img(src="http://placehold.it/295x295")
					.box__footer.violet
						i.ico.ico_style
						| Style
				a(href="#").box.box_half-left
					img(src="http://placehold.it/295x295")
					.box__footer.yellow
						i.ico.ico_music
						| Music
				a(href="#").box.box_half-right
					img(src="http://placehold.it/295x295")
					.box__footer.green
						i.ico.ico_tv
						| Tv
			.slider__dots
				ul
					li
					li.is-active
					li
					li
		//end slider
		//begin category
		.category
			ul
				li
					a(href="#").category__item pools
				li
					a(href="#").category__item photos
				li
					a(href="#").category__item videos
		//end category
	//end wrap