extends include/_layout-topnav-bottomnav

block title
	title Meg Navigation

block header
	include include/_header-logo-awards

block topnav
	//begin topnav
	nav.topnav.label-h.label-h_blue
		span.title.title_topnav favorite movie actor
	//end topnav

block content
	.wrap
		//begin items in category
		.box.box_fav.box_half-left
			img(src="http://placehold.it/295x226")
			.box_fav__title
				span Channing tatum
		.box.box_fav.box_half-right
			img(src="http://placehold.it/295x226")
			.box_fav__title
				span hugh jackman
		.box.box_fav.box_half-left.is-selected
			img(src="img/johnny.png")
			.box_fav__title
				span johnny depp
		.box.box_fav.box_half-right
			img(src="http://placehold.it/295x226")
			.box_fav__title
				span tom cruise
		.box.box_fav.box_half-left
			img(src="http://placehold.it/295x226")
			.box_fav__title
				span brad pitt
		.box.box_submit.box_half-right
			.box_submit__in
				ul
					li tune into the
					li
						i.logo-awards
					li only on
						i.logo-cbs
					li [date] [time]
			button(type="submit").box_submit__btn share this category
		//end items in category

block footer
	include include/_bottomnav

block other
	include include/_megnav