extends include/_layout-topnav-bottomnav

block title
	title Movie Nomination

block header
	include include/_header-logo-awards

block topnav
	//begin topnav
	nav.topnav.label-h.label-h_blue
		.topnav__slider
			.title.title_topnav favorite movie
			.title.title_topnav favorite actor
			.title.title_topnav favorite music
	//end topnav

block content
	.wrap
		//begin items in category
		.box.box_fav.box_half-left
			img(src="http://placehold.it/295x226")
			.box_fav__title
				span dallas buyers club
		.box.box_fav.box_half-right
			img(src="http://placehold.it/295x226")
			.box_fav__title
				span the wolf<br>of wall street
		.box.box_fav.box_half-left
			img(src="http://placehold.it/295x226")
			.box_fav__title
				span 12 years a slave
		.box.box_fav.box_half-right.is-selected
			//- img(src="http://placehold.it/295x226")
			img(src="img/gravity5.png")
			.box_fav__title
				span gravity
		.box.box_fav.box_half-left
			img(src="http://placehold.it/295x226")
			.box_fav__title
				span philomena
		.box.box_submit.box_half-right
			.box_submit__in
				ul
					li tune into the
					li
						i.logo-awards
					li only on
						i.logo-cbs
					li [date] [time]
			button(type="submit").box_submit__btn share this category
		//end items in category

block footer
	include include/_bottomnav
