extends include/_layout

block title
	title News

block header
	include include/_header

block content
	//begin topnav
	nav.topnav
		a(href="#").topnav__back
		span.title.title_topnav news
	//end topnav

	.wrap
		//begin slider
		.slider
			.slider__dots
				ul
					li
					li.is-active
					li
					li
			.slider__slide
				a(href="#").box.box_half-left
					img(src="http://placehold.it/295x295")
					.box__footer.gray
						i.ico.ico_headlines
						| headlines
				a(href="#").box.box_half-right
					img(src="http://placehold.it/295x295")
					.box__footer.blue
						i.ico.ico_movies
						| movies
				a(href="#").box.box_half-left
					img(src="http://placehold.it/295x295")
					.box__footer.green
						i.ico.ico_tv
						| tv
				a(href="#").box.box_half-right
					img(src="http://placehold.it/295x295")
					.box__footer.yellow
						i.ico.ico_music
						| music
				a(href="#").box.box_half-left
					img(src="http://placehold.it/295x295")
					.box__footer.violet
						i.ico.ico_fashion
						| fashion
				a(href="#").box.box_half-right
					img(src="http://placehold.it/295x295")
					.box__footer.orange
						i.ico.ico_celebrity
						| celebrity
		//end slider
