extends include/_layout-topnav

block title
	title Photos Expanded

block header
	include include/_header

block topnav
	//begin topnav
	nav.topnav
		span.title.title_topnav photo galleries
		a(href="#").topnav__next
			span Videos
	//end topnav

block content
	.wrap
		.banner
			img(src="img/banner.jpg")
		//begin photos
		a(href="#").box.box_half-left
			img(src="http://placehold.it/295x295")
			.box__footer-translucent
				| People’s Choice Awards 2014:...
		a(href="#").box.box_half-right
			img(src="http://placehold.it/295x295")
			.box__footer-translucent
				| People’s Choice Awards 2014:...
		a(href="#").box.box_half-left
			img(src="http://placehold.it/295x295")
			.box__footer-translucent
				| People’s Choice Awards 2014:...
		a(href="#").box.box_half-right
			img(src="http://placehold.it/295x295")
			.box__footer-translucent
				| People’s Choice Awards 2014:...
		a(href="#").box.box_half-left
			img(src="http://placehold.it/295x295")
			.box__footer-translucent
				| People’s Choice Awards 2014:...
		a(href="#").box.box_half-right
			img(src="http://placehold.it/295x295")
			.box__footer-translucent
				| People’s Choice Awards 2014:...
		//end photos

block other
	//begin photo-popup
	.photo-popup
		.box__hide
		img(src="http://placehold.it/570x778")
		.photo-popup__footer
			p Title placeholder area which can accomodate 2 lines of text
	//end photo-popup
