extends include/_layout-topnav

block title
	title Polls

block header
	include include/_header

block topnav
	//begin topnav
	nav.topnav
		span.title.title_topnav polls
	//end topnav

block content
	.wrap
		//begin polls
		a(href="#").box.box_polls.label.label_green
			p Katherine Heigl will star in the new NBC political drama series State of Affairs. Will you watch the show?
		a(href="#").box.box_polls.label.label_yellow
			p Will Drake release another album in 2015, or do you think he will coast on his 2014 blockbuster hits?
		a(href="#").box.box_polls.label.label_green
			p The Mindy Project vs. New Girl:<br>Which season finale did you watch most often?
		a(href="#").box.box_polls.label.label_blue
			p Do you think the sequel to Avatar will live up to the high approval ratings of the original movie by James Cameron?
		a(href="#").box.box_polls.label.label_yellow
			p Will Drake release another album in 2015, or do you think he will coast on his 2014 blockbuster hits?
		a(href="#").box.box_polls.label.label_green
			p The Mindy Project vs. New Girl:<br>Which season finale did you watch most often?
		a(href="#").box.box_polls.label.label_blue
			p Do you think the sequel to Avatar will live up to the high approval ratings of the original movie by James Cameron?
		//end polls

