//begin bottomnav
.bottomnav.bottomnav_simple
	ul
		li.is-active
			a(href="#").label-h.label-h_blue
				| movies
		li
			a(href="#").label-h.label-h_green
				| tv
		li
			a(href="#").label-h.label-h_yellow
				| music
//end bottomnav