//begin megnav
.megnav.overflow-scroll
	.megnav__in
		a(href="#").megnav__btn
			i.vote-now
			span Vote Now
		a(href="#").megnav__btn
			i.vote-female
			span Vote: Female Pop Artist
		a(href="#").megnav__btn
			i.test
			span Test
		a(href="#").megnav__btn
			i.fb
			span Facebook Feed
		a(href="#").megnav__btn
			i.inst
			span Instagram Feed
		a(href="#").megnav__btn
			i.peoples-choice
			span People’s Choice
		a(href="#").megnav__btn
			i.tw
			span Twitter
		a(href="#").megnav__btn-round
//end megnav