//begin sidenav
nav.sidenav
	.sidenav__header
		.sidenav__logo People's Choice
	ul.sidenav__list.sidenav__list-medium
		li
			a(href="#").label
				i.ico.ico_news
				|news
		li
			a(href="#").label
				i.ico.ico_polls
				|polls
		li
			a(href="#").label
				i.ico.ico_photos
				|photos
		li
			a(href="#").label
				i.ico.ico_videos
				|videos
	a(href="#").sidenav__privacy
		|Privacy Policy
//end sidenav